<% if (title) { %>
    <h1><%= title %></h1> 
    <% } else {
        res.redirect('/')
    } %>


<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

<div class="main-container">
   
    <div class="login-container">
        <form id="registerForm" action="/account/register" method="post">

            <label for="fname">First Name</label>
            <input id="fname" type="firstname" name="account_firstname" placeholder="First Name" required value="<%= locals.account_firstname %>">
          
            <label for="lname">Last Name</label>
            <input id="lname" type="lastname" name="account_lastname" placeholder="Last Name" required value="<%= locals.account_lastname %>">
          
          <label for="email">Email</label>
           <input id="email" type="email" name="account_email" placeholder="Enter Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required value="<%= locals.account_email %>">
        

           <label for="password">Password</label>
           <input id="password" type="password" name="account_password" placeholder="Password" id="pword" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$" required>
           
           <p class="password-instruction">Password must be minimum of 12 characters and incldues 1 capital letter,
            1 number and 1 special character.
           </p>
      
           <button type="submit">Register</button>
       </form>
   
   </div>
</div>
